include ../partials/head
  title G-links
header
  a.logo(href='/') G-links
  input.serchBox(type='text')
  a.login_link(href="/users/login")
    .login_button
      p.login_button__text 로그인
  .setting_icon
    i.fas.fa-cog
nav.checkbox
  input#checkbox-1(type='radio' name='checkbox' onclick='btnClick()')
  label(for='checkbox-1') 선생님별 링크
  input#checkbox-2(type='radio' name='checkbox' onclick='btnClick()')
  label(for='checkbox-2') 반별 링크
main.index-main
  each name in names
    .box
      h1.box__name #{name}
      .box__items
        each item, index in link_db
          if name === link_db[index].name
            .box__item
              h2.box__item__title #{item.title}

              -const url = item.url
              a.box__item__link(href=url, target="_blank")
                i.fas.fa-play-circle.play_button
              i.far.fa-copy.copy_button(val=url)

