include ../partials/head
    title Sign Up
header 
    a.logo(href='/') G-links
main.login-main
    .login
        h1.login__title Sign Up
        form.login__form(action="/users/signup" method="post")
            .login__nickname
                label.login__email__title(for="nickname") Nickname
                input.login__email__input(type="nickname" name="nickname" placeholder="닉네임" id="nickname" required)
            .login__email
                label.login__email__title(for="email") E-mail
                input.login__email__input(type="email" name="email" placeholder="이메일" id="email" required)
            .login__password 
                label.login__password__title(for="password") Password
                input.login__password__input(type="password" name="password" placeholder="비밀번호" id="password" minlength="6" required)
            input.login__submit(type="submit" value="회원가입")
        .signup-link
            span.signup-link__p Or Login with
            a.signup-link__link(href="/users/login") 로그인
