@import "reset.css";
body {
    background-color: #FBF7F0;
}

/* header css */
header {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #CDC9C3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-left: 37px;
    text-decoration: none;
}
.serchBox {
    width: 568px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}
.setting_icon {
    margin-right: 37px;
}
.fa-cog {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

/* nav css */
nav {
    padding-top: 92px;
    height: 50px;
    width: 100%;
    display: flex;
}
.button {
    background-color: #CDC9C3;
    width: 137px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    line-height: normal;
    margin-left: 27px;
}
.button_clicked {
    background-color: #333333;
    width: 137px;
    height: 40px;
    border-radius: 30px;
    margin-left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: normal;
}